// Colors
$ui-black: #333;
$ui-white: #fff;
$ui-grey: #c4c4c4;
$ui-green: #5cbe56;
$ui-orange: #eca34e;
$ui-red: #ec4e4e;
$ui-lightred: #f9cece;
$ui-darkblue: #353d4c;
$ui-blue: #246bfd;
$ui-lightblue: #bbc9e4;
$ui-softwhite: #f8f9fb;
$ui-traffic-green: #5cbe56;
$ui-traffic-orange: #eca34e;
$ui-traffic-red: #ec4e4e;
$ui-traffic-red-light: #f9cece;
$ui-dark-blue: #151f32;
$ui-active-menu: #3d4554;
$text-soft-white: #dadbdf;
$text-dark-blue: #151f32;

// Dark Mode Colors
$darkui-white: #eeeeef;
$darkui-black: #181826;
$darkui-softblack: #1f1f2c;
$darkui-blue: #246bfd;
$darkui-softblue: #bbc9e4;
$darkui-grey: #4e5c69;
