//Heading Font Sizes
$HeadingTitle: 32px;
$Heading1: 24px;
$Heading2: 24px;
$Heading3: 18px;
$Heading4: 16px;
$Heading5: 14px;

//Font weights
$light: 100;
$semi-light: 200;
$normal: 300;
$medium: 400;
$semi-bold: 500;
$bold: 600;
$extra-bold: 700;
$black: 800;

// Margin Sizes
$m5: 5px;
$m10: 10px;
$m15: 15px;
$m20: 20px;
$m25: 25px;
$m30: 30px;
$m40: 40px;
$m50: 50px;
$m60: 60px;
$m70: 70px;
$m80: 80px;
$m100: 100px;
$m200: 200px;

// Border radius
$borderS: 5px;
$borderM: 10px;
$borderXL: 20px;
$borderRound: 50%;
