$large-font-size: 1.25rem;
$basic-font-size: 1rem;
$small-font-size: 0.75rem;

// Margin sizes
$margin30: 30px;
$margin1: 16px;
$margin2: 32px;
$margin3: 48px;
$margin4: 64px;
$margin5: 80px;
$margin6: 6em;
$margin7: 7em;
$margin8: 8em;
$margin9: 9em;
$margin10: 10em;

// Font Sizes
$title-size: 4rem; // equiv "28px"
$h1-size: 3rem; // equiv "28px"
$h2-size: 2rem; // equiv "24px"
$h3-size: 1.5rem; // equiv "20px"
$h4-size: 1.375rem; // equiv "18px"
$h5-size: 1.25rem; // equiv "16px"
$h6-size: 1.125rem; // equiv "14px"

$margin-1: 5px;
$margin-2: 10px;
$margin-3: 15px;
$margin-4: 20px;
$margin-6: 30px;

// Margin Sizes
$margin-5: 5px;
$margin-10: 10px;
$margin-15: 15px;
$margin-20: 20px;
$margin-25: 25px;
$margin-30: 30px;
$margin-40: 40px;
$margin-50: 50px;
$margin-100: 100px;

$light: 100;
$normal: 300;
$semi-bold: 500;
$bold: 700;
$extra-bold: 900;

// //Heading Font Sizes
// $HeadingTitle: 48px;
// $Heading1: 32px;
// $Heading2: 28px;
// $Heading3: 24px;
// $Heading4: 20px;
// $Heading5: 16px;
// $Heading6: 14px;

// //Normal Font sizes:
// $large-font-size: 20px;
// $basic-font-size: 16px;
// $small-font-size: 14px;

// //Font weights
// $light: 100;
// $normal: 300;
// $semi-bold: 500;
// $bold: 700;
// $extra-bold: 900;

// // Margin Sizes
// $m5: 5px;
// $m10: 10px;
// $m15: 15px;
// $m20: 20px;
// $m25: 25px;
// $m30: 30px;
// $m50: 50px;
// $m100: 100px;
// $m200: 200px;
