@import './vars/context.scss';

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  width: calc(100vw - 250px);
  min-height: 100vh;
  margin-left: 250px;
  padding: 50px;
  position: relative;
  box-sizing: border-box;
}

// \body {
//   height: 100vh;
//   overflow: hidden;
//   main {
//     width: calc(100vw - 300px);
//     height: inherit;
//     overflow-y: scroll;
//     margin-left: 300px;
//     padding: 2em;
//     position: relative;
//     box-sizing: border-box;
//   }
// }
